<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="http://malsup.github.io/jquery.blockUI.js"></script>
<style>
  #loading-img {
    background: url(<%= asset_path 'wait.gif' %>) center center no-repeat;
    height: 100%;
    z-index: 20;
}

.overlay_new {
    background: #e9e9e9;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
</style>
  <div id='razorpay' class='btn razorpay-payment-button pull-right'>
    Pay by Razorpay
  </div>

 

  <div id='blockUI-message' style='display: none;'>
    <h1>
      <b>HOLDON!</b>
      While we connect you back to merchant's site
    </h1>
  </div>
  
<script>
$(document).ready(function(){
  var $loading = $('#loading').hide();
 $loading.hide();
  $("#razorpay").click(function() {
    var options = {
        "key": "<%= payment_method.preferences[:key_id] %>",
        "amount": "<%= current_order.item_total %>",
        'name': "<%= payment_method.preferences[:merchant_name] %>",
        'description': "<%= payment_method.preferences[:merchant_description] %>",
        "handler": function (response){
          $(document).ajaxStart(function() {
             $(".overlay_new").show();
             $("#checkout-page").css("opacity", 0.2);
          });
          $.ajax({
            type: 'POST',
            url: "/razorpay",
            data: { payment_method_id: "<%= payment_method.id %>", razorpay_payment_id: response.razorpay_payment_id },
            dataType: 'html'
          }).done(function(data){
             $(".overlay_new").show();
             $("#checkout-page").css("opacity", 0.2);
            setTimeout(function(){
              window.location.replace("/orders/<%= current_order.number %>");
            }, 5000);
          });
        },
        "prefill": {
            "name": "<%= spree_current_user.try(:email) %>",
            "email": "<%= spree_current_user.try(:email) %>"
        },
        "notes": {
            "address": "<%= payment_method.preferences[:merchant_address] %>"
        },
        "theme": {
            "color": "<%= payment_method.preferences[:theme_color] %>"
        }
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
  });
  
});
</script>

  
